body {
  background-color: white;
}

#nav-btns .active li, #nav-btns .active a {
    background-color: white;
    color: #4AA004;
    font-weight: 500;
}

.container {
	
}

h1, h2, h3, p, li {
	font-family: 'Alegreya Sans', sans-serif;
	color: black;
	webkit-text-stroke: 0.6px; 
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

h1 {
	font-weight: 500;
	color: #4AA004;
	font-size: 400%;
}

h2 {
	font-weight: 500;
	color: #4AA004;
	font-size: 200%;
}

h3 {
	font-weight:300;
	color: black;
	font-size: 150%;
}

p, li {
	font-weight: 100;
	font-size: 125%;
}

#navbar {
    background-color: white;
    border-width: 0;
	margin:0;
	padding: 2vh 0 0 0;
	min-height: 10vh;
}

#nav-btns {
	border-width: 0;
}

#navbar a {
    color: black;
}

.slide {
	font-size: 500%;
	margin: 10px 0 10px 0;
}

.slide-sub {
	font-size: 300%;
	margin: 10px 0 10px 0;
}

.focus {
	color: #4AA004;
	font-size: 100%;
}


#header {
	background : url('img/banner_black.png') no-repeat center center;
	background-size: cover;
  	margin: 0 0 0 0;
  	padding: 30vh 0 30vh 0;
  	font-size: 150%;
  	height: auto;
}

#header p, #header h1, #header h2, #header h3 {
	color: white;
	font-size: 8vmin;
}

.section {
	padding: 25px 0 40px 0;
}

.section h1 {
	text-align: center;
}

.subtitle {
	text-align: center;
	padding: 0px 0 75px 0;
}

#content {
}

.feat-main {
	text-align: center;
}

.feat-main img {
	width: 60%;
}

.feat-submain {
	margin: 60px 0 0 0;
}

.feat-submain h3 {
	margin: 0 0 30px 0;
}

.feat-submain img {
	width: 75%;
	text-align: center;
}

#social {
	text-align: center;
}

#contact {
}

#footer {
	text-align: center;
}

#logo {
	width: 15%;
}

.social {
	color: #4aa004;
	margin: 0 25px 0 25px;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.social:hover {
	color: lightgreen;
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
