body {
  background-color: white;
}

.container {
	width: 50%;
}

h1, h2, h3, p, li {
	font-family: 'Alegreya Sans', sans-serif;
	color: black;
}

h1 {
	font-weight: 500;
	color: #4AA004;
	font-size: 400%;
}

h2 {
	font-weight: 500;
	color: #4AA004;
	font-size: 200%;
}

h3 {
	font-weight: 100;
	color: black;
	font-size: 150%;
}

p, li {
	font-weight: 400;
	font-size: 125%;
}

#navbar {
	background: white;
	margin:0;
}

.slide {
	font-size: 500%;
	margin: 10px 0 10px 0;
}

.slide-sub {
	font-size: 300%;
	margin: 10px 0 10px 0;
}

.focus {
	color: #4AA004;
	font-size: 130%;
}


#header {
	background : url('img/banner_black.png') no-repeat center center;
	background-size: 100% 100%;
  	background-size: cover;
  	margin: 0 0 0 0;
  	padding: 200px 0 150px 0;
  	font-size: 150%;
  	height: 80vh;
}

#header-2 {
	background : white;
  	margin: 0 0 0 0;
  	padding: 150px 0 150px 0;
  	font-size: 150%;
}


#header p, #header h1, #header h2, #header h3 {
	color: white;
}

.section {
	padding: 25px 0 40px 0;
}

.section h1 {
	text-align: center;
}

.subtitle {
	text-align: center;
	padding: 0px 0 75px 0;
}

#content {
}

.feat-main {
	text-align: center;
}

.feat-main img {
	width: 60%;
}

.feat-submain {
	margin: 60px 0 0 0;
}

.feat-submain h3 {
	margin: 0 0 30px 0;
}

.feat-submain img {
	width: 75%;
	text-align: center;
}

#social {
	text-align: center;
}

#contact {
}

#footer {
	text-align: center;
}

#logo {
	width: 15%;
}

.social {
	color: #4aa004;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.social:hover {
	color: lightgreen;
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
